.course-wrapper {
  background-color: lightblue;
  min-height: 100vh; /* Ensure it covers the full screen height */
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.justify-content-around {
  justify-content: space-around;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.d-block {
  display: block;
}
